/include/ "system-conf.dtsi"
/ {
    chosen {
        bootargs = "cpuidle.off=1";
    };
};

&usxgmii_usxgmii_0{
	xlnx,usxgmii-rate = <10000>;
	xlnx,channel-ids = <0x01>;
	clock-names = "rx_core_clk", "dclk", "s_axi_aclk", "m_axi_mm2s_aclk", "m_axi_s2mm_aclk", "m_axi_sg_aclk", "s_axi_lite_aclk";
	clocks = <&misc_clk_0>, <&zynqmp_clk 72>, <&zynqmp_clk 71>, <&misc_clk_0>, <&misc_clk_0>, <&zynqmp_clk 71>, <&zynqmp_clk 71>;
};

&i2c1 {
    status = "okay";
    clock-frequency = <400000>;
    i2c-mux@74 { /* u34 */
        compatible = "nxp,pca9548";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x74>;
        i2c@3 { /* i2c mw 74 0 8 */
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <3>;
            si570_2: clock-generator@5d {
                #clock-cells = <0>;
                compatible = "silabs,si570";
                reg = <0x5d>;
                temperature-stability = <50>;
                factory-fout = <156250000>;
                clock-frequency = <156250000>;
            };
        };
    };
};
